.App {
  /* text-align: center; */
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  width: 50px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-left: 70px;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.container {
  margin: 50px;
}

.testfontGoogle {
  margin-top: 10px !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  
}
